/* ListadoBoletines.css */

.tituloListado {
    background-color: #f0f0f0;
  }
  
  .tableCellHeader {
    background-color: #0066ff;
    font-weight: bold; /* Añadir negrita al texto del encabezado */
  }
  
  .tableRowOdd {
    background-color: #f9f9f9;
  }
  
  .tableRowEven {
    background-color: white;
  }
  
  .iconEdit {
    cursor: pointer;
    color: #0066ff;
    margin-right: 8px;
  }
  
  .iconDelete {
    cursor: pointer;
    color: red;
  }
  