.navCont {
    /* background-color: red; */
    /* background-color: #0066ff; */
    background-color: #ffff;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px;
    border-color: #3333;
}

.contLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    }

.contLogo h4,h1{
    font-weight: 600 !important;
    color: #333 !important

}

.logoNav {
    width: auto;
    height: 160px;
}

.buscador {
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-bottom: 25px !important;
    height: 33vh;
    width: 98%;
    padding: 0;
    border-radius: 20px;
    /* background-color: #ffff; */
    background-color: #0066ff;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);

}

.tituloBuscador {
    color: #fff;
    margin-left: 50px;
    padding-top: 40px;
    margin-bottom: 30px;
    font-weight: 600;
}

.inputCont {
    display: flex;
    align-items: center;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #ffff !important;
}

.MuiInputLabel-root.Mui-focused,
.MuiInputLabel-root,
.MuiOutlinedInput-input {
    color: #ffff !important
}

.btnBuscador {
    font-weight: 600;
    height: 50px;
    background-color: #2eb1ff !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(43, 169, 241) !important;
}